@model Trip
@{
    ViewData["Title"] = "Trip Details";
}

<h2 style="padding-bottom: 40px">Trip Details</h2>

<div class="row">
    <div class="col-sm-3">
        @using (Html.BeginForm("TripDetails", "Trip", FormMethod.Post))
        {

            <div class="form-group row" style="padding-bottom: 20px">
                <div class="col-sm-6"><label>Name:</label></div>
                <div class="col-sm-6"><input readonly="readonly" value="@Model.Name " id="name" type="text" name="name" asp-for="Name" /></div>
            </div>

            <br />

            <div class="form-group row" style="padding-bottom: 20px">
                <div class="col-sm-6">
                    @Html.Label("Start Date:")
                </div>
                <div class="col-sm-6"><input id="startDateTime" name="startDateTime" type="datetime-local" asp-for="StartDate" /></div>
            </div>

            <div class="form-group row" style="padding-bottom: 20px">
                <div class="col-sm-6">
                    @Html.Label("End Date:")
                </div>
                <div class="col-sm-6"><input id="endDateTime" name="endDateTime" type="datetime-local" asp-for="EndDate" /></div>
            </div>

            <input id="editTrip" type="submit" value="Edit" />
            <a asp-action="Homepage" asp-controller="Home">Back</a>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
        <div class="row">
            <h3>Itinerary</h3>
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Waypoint waypoint in Model.Waypoints)
                    {
                        <input type="hidden" asp-for="@waypoint.WaypointId" />
                        <tr>
                            <td>
                                <a asp-action="WaypointDetails" asp-controller="Waypoint"
                                   asp-route-waypointId="@waypoint.WaypointId"
                                   asp-route-name="@waypoint.WaypointName"
                                   asp-route-start="@waypoint.StartDate"
                                   asp-route-end="@waypoint.EndDate">@waypoint.WaypointName</a>
                            </td>
                            <td>@waypoint.StartDate</td>
                            <td>@waypoint.EndDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-6">
                <a style="outline: slategrey" asp-action="AddWaypoint" asp-controller="Waypoint" asp-route-name="@Model.Name">Add Waypoint</a>
            </div>
            <div class="col-6">
                <a style="alignment: right" class="input-group" asp-action="AddTransportation" asp-controller="Waypoint" asp-route-name="@Model.Name">Add Transportation</a>
            </div>
        </div>


        <div style="padding-top: 50px" class="row">
            <h3>Lodging</h3>
            <table class="table table-bordered table-striped table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Lodging lodging in Model.Lodgings)
                    {
                        <input type="hidden" asp-for="@lodging.LodgingId" />
                        <tr>
                            <td>
                                <a asp-action="LodgingDetails" asp-controller="Lodging"
                                   asp-route-lodgingId="@lodging.LodgingId"
                                   asp-route-street="@lodging.StreetAddress"
                                   asp-route-city="@lodging.City"
                                   asp-route-state="@lodging.State"
                                   asp-route-zip="@lodging.ZipCode"
                                   asp-route-description="@lodging.Description"
                                   asp-route-start="@lodging.StartDate"
                                   asp-route-end="@lodging.EndDate">
                                    @lodging.StreetAddress
                                </a>
                            </td>
                            <td>@lodging.City</td>
                            <td>@lodging.StartDate</td>
                            <td>@lodging.EndDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-6">
                <a style="outline: slategrey" asp-action="AddLodging" asp-controller="Lodging" asp-route-name="@Model.Name">Add Lodging</a>
            </div>
        </div>

    </div>
</div>
